# requirements.txt

# --- For the Web API ---
flask==2.2.2
gunicorn==20.1.0

# --- For Data Science & Modeling ---
pandas==1.5.3
numpy==1.24.2
scikit-learn==1.2.1

# --- For Testing ---
pytest==7.2.1
